<section class="container-main min-h-[90vh] py-24 flex flex-col items-center justify-between gap-16 md:flex-row lg:gap-32">

  <div class="shrink-0 order-last md:order-0">
    <img 
      src="/foto-perfil.png" alt="Selfie do Henrique vestindo camiseta preta."
      class="w-72 h-96 rounded-3xl object-cover grayscale shadow-2xl lg:w-md lg:h-140"
    />
  </div>

  <div class="flex-1 space-y-8 text-left">
    <h1 class="text-6xl leading-[1.1] font-bold tracking-tighter md:text-7xl lg:text-8xl">
      Olá, eu sou Henrique.
    </h1>
    <p class="text-xl leading-relaxed max-w-lg text-my-gray md:text-2xl">
      Estudante de computação criando produtos digitais.
    </p>
  </div>

</section>
